@{
    ViewData["Title"] = "Home Page";
}


<section id="search-banner">
    <img alt="bg" class="bg-1" src="https://i.imgur.com/h8pXo1s.png">
    <img alt="bg" class="bg-1_rev" src="https://i.imgur.com/h8pXo1s.png">
    <img alt="bg-2" class="bg-2" src="https://i.imgur.com/2smuQIz.png">
    <div class="search-banner-text">
        <h1>Comanda acum de la noi !</h1>
        <strong>#Livrare Gratuita</strong>
        <form action="" class="search-box">
            <i class="fas fa-search"></i>
            <input type="text" class="search-input" placeholder="Cauta..." name="search" size="80px" required>
            <input type="submit" class="search-btn" value="Cauta">
        </form>
    </div>
</section>
<h2 class="sale-heading">Reducerile lunii sunt disponibile in ....</h2>

<div class="countdown-container">
    <div class="countdown-el days-c">
        <p class="big-text" id="days">0</p>
        <span>Days</span>
    </div>
    <div class="countdown-el hours-c">
        <p class="big-text" id="hours">0</p>
        <span>Hours</span>
    </div>
    <div class="countdown-el mins-c">
        <p class="big-text" id="mins">0</p>
        <span>Min</span>
    </div>
    <div class="countdown-el seconds-c">
        <p class="big-text" id="seconds">0</p>
        <span>Seconds</span>
    </div>
</div>

<section id="clients">
    <div class="client-heading">
        <h3>Feedback de la clientii nostrii...</h3>
    </div>
    <div class="client-box-container">
        <div class="client-box">
            <div class="client-profile">
                <img alt="client" src="https://i.imgur.com/FNVH9z6.jpg">
                <div class="profile-text">
                    <strong>Stefan Pandelica</strong>
                </div>
            </div>
            <p>Raport calitate pret excelent ! Livrarea a fost rapida , produsele au ajuns conform asteptarilor !</p>
        </div>
        <div class="client-box">
            <div class="client-profile">
                <img alt="client" src="https://i.imgur.com/3yv9Hkj.jpg">
                <div class="profile-text">
                    <strong>Bogdan Calafeteanu</strong>
                </div>
            </div>
            <p>Raport calitate pret excelent ! Livrarea a fost rapida , produsele au ajuns conform asteptarilor !</p>
        </div>
        <div class="client-box">
            <div class="client-profile">
                <img alt="client" src="https://i.imgur.com/Rk5RDey.jpg">
                <div class="profile-text">
                    <strong>Cristina Mihai</strong>
                </div>
            </div>
            <p>Raport calitate pret excelent ! Livrarea a fost rapida , produsele au ajuns conform asteptarilor !</p>
        </div>
    </div>
</section>


